@import url('~/platform.css');

ActionBar {
  background-color: black;
  color: white;
}

Page {
  background: white;
  font-size: 15;
}

TextField {
  padding: 10;
  font-size: 13;
}

.small-spacing {
  margin: 5;
}

.medium-spacing {
  margin: 10;
}
